{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.typeCour) }}
        {{ form_widget(form.typeCour, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Type de cours'
            }
        }) }}
        {{ form_errors(form.typeCour) }}
    </div>

    <div class="form-group">
        {{ form_label(form.cout) }}
        {{ form_widget(form.cout, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Montant en DT', 
                'step': '0.01'
            }
        }) }}
        {{ form_errors(form.cout) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateDebut) }}
        {{ form_widget(form.dateDebut, {
            'attr': {
                'class': 'form-control',
                'type': 'datetime-local'
            }
        }) }}
        {{ form_errors(form.dateDebut) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateFin) }}
        {{ form_widget(form.dateFin, {
            'attr': {
                'class': 'form-control',
                'type': 'datetime-local'
            }
        }) }}
        {{ form_errors(form.dateFin) }}
    </div>

    <button class="btn btn-primary mr-2">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_cour_index') }}" class="btn btn-light">Annuler</a>
{{ form_end(form) }}